@media screen and (min-width: $big-mobile) and (max-width: ($desktop - 1px)) {
  .backdrop {
    display: block;
    position: fixed;
    // z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // transform: translateY(-101%);

    background-color: rgba(7, 34, 47, 0.7);

    transition: transform 1000ms ease;
    // .menu.is-open & {
    //   transform: translateX(0);
    // }

    &--is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
}
