$mobile: 320px;
$big-mobile: 575px;
$tablet: 768px;
$desktop: 1368px;

:root {
  --prime-title-color: #000000;
  --secondary-title-color: #263238;
  --main-text-color: #8f95a5;
  --numbers-colors: #2a3246;
}
